/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }

/* Specific to example one */

#servicosTabs { margin: 10px 0 20px 0; }

#servicosTabs .list-wrap { background: #eee; padding: 10px; margin: 0 0 15px 0; font-size: 15px; line-height: 22px; text-align: justify; }

#servicosTabs .nav { overflow: hidden; margin: 0 0 10px 0; }
#servicosTabs .nav li {float: left; margin: 1px; }
#servicosTabs .nav li.last { margin-right: 0; }
#servicosTabs .nav li a { display: block; text-decoration: none; padding: 5px; background: #959290; color: #fff; font-size: 15px; text-align: center; border: 0; }
#servicosTabs .nav li a:hover { background-color: #666; }

#servicosTabs ul { list-style: none; }
#servicosTabs ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#servicosTabs ul li a:hover { background: #14A029; color: #fff; }
#servicosTabs ul li:last-child a { border: none; }

#servicosTabs ul li.nav-um a.current, #servicosTabs ul.featured li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-dois a.current, #servicosTabs ul.core li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-tres a.current, #servicosTabs ul.jquerytuts li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-quatro a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-cinco a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-seis a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-sete a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-oito a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-nove a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }
#servicosTabs ul li.nav-dez a.current, #servicosTabs ul.classics li a:hover { background-color: rgb(86, 186, 85); color: #fff; }


/* Specific to example two */

#servicosTabsDois .list-wrap { background: #eee; padding: 10px 5px; margin: 0 0 15px 0; font-size: 10px; line-height: 13px; text-align: justify; }

#servicosTabsDois .list-wrap li{ width:270px; float:left;}

#servicosTabsDois ul { list-style: none; display:inline-block;}
#servicosTabsDois ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#servicosTabsDois ul li a:hover { background: #333; color: #fff; }
#servicosTabsDois ul li:last-child a { border: none; }

#servicosTabsDois .nav { overflow: hidden; }
#servicosTabsDois .nav li {float: left; margin: 0 10px 0 0; }
#servicosTabsDois .nav li.last { margin-right: 0; }
#servicosTabsDois .nav li a { display: block; text-decoration: none; padding: 5px ; background: #666; color: #fff; font-size: 12px; text-align: center; border: 0; }

#servicosTabsDois li a.current,#servicosTabsDois li a.current:hover { background-color: #eee !important; color: #000; }
#servicosTabsDois .nav li a:hover, #servicosTabsDois .nav li a:focus { background: #999;}
#servicosTabsDois ul li.nav-one a.current, #servicosTabsDois ul.featured li a:hover { background-color: #0575f4; color: #000; }
#servicosTabsDois ul li.nav-two a.current, #servicosTabsDois ul.core li a:hover { background-color: #d30000; color: #000; }