/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
  /* @import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
   @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
   */
   * {
       margin: 0;
       padding: 0;
       border: 0;
       outline: 0;
   }

   .launcher-load{
    height: 250px;
    margin: 2px 0 20px 0 !important;
}
   
   .clear {
       clear: both;
   }
   
   /*
    * A better looking default horizontal rule
    */
   
   hr {
       display: block;
       height: 1px;
       border: 0;
       border-top: 1px solid #ccc;
       margin: 1em 0;
       padding: 0;
   }
   
   ul {
       list-style-type: none;
       list-style: none;
       margin: 0;
       padding: 0;
   }
   
   /*
    * Remove the gap between images, videos, audio and canvas and the bottom of
    * their containers: h5bp.com/i/440
    */
   
   audio,
   canvas,
   img,
   video {
       vertical-align: middle;
   }
   
   /*
    * Remove default fieldset styles.
    */
   
   fieldset {
       border: 0;
       margin: 0;
       padding: 0;
   }
   
   /*
    * Allow only vertical resizing of textareas.
    */
   
   textarea {
       resize: vertical;
   }
   
   /* ==========================================================================
      Browse Happy prompt
      ========================================================================== */
   
   .browsehappy {
       margin: 0.2em 0;
       background: #ccc;
       color: #000;
       padding: 0.2em 0;
   }
   
   /*
   ==========================================================================
      Geral
   ========================================================================== 
   */
   
   body {
       font-size: 1rem;
       font-family: Helvetica, Arial, sans-serif;
       color: #444;
   }
   
   .clear {
       clear: both;
   }
   
   h1,
   h1 a {
       color: #586688;
       font-size: 32px;
       line-height: 32px;
       text-decoration: none;
       margin: 20px 0;
       font-family: 'Oswald', sans-serif;
   }
   
   h2,
   h2 a {
       font-size: 26px;
       line-height: 26px;
       color: #1475ab;
       text-decoration: none;
       margin: 20px 0;
   }
   
   h3,
   h3 a,
   h4,
   h4 a {
       font-size: 22px;
       line-height: 22px;
       color: #1475ab;
       text-decoration: none;
       margin: 15px 0;
   }
   
   a {
       color: #1475ab;
   }
   
   a:hover {
       text-decoration: none;
   }
   
   /* 
   ==================================================
       Header
   ==================================================
   */
   header {
       padding: 15px 0;
       margin: 0 auto;
   }
   
   header .wrapper-top {
       width: 1080px;
       max-width: 1080px;
       margin: 0 auto;
   }
   
   header .logo {
       float: left;
   }
   
   header .logo a {
       background: url(../imagens/logo.jpg) no-repeat;
       display: block;
       width: 258px;
       height: 190px;
       overflow: hidden;
       text-indent: -99999px;
   }
   
   header .right {
       float: right;
       text-align: right;
       color: #1475ab;
       font-size: 12px;
       margin-top: 40px;
   }
   
   header .right strong {
       font-size: 28px;
   }
   
   /* 
   ==================================================
       Menu
   ==================================================
   */
   header nav {
       clear: both;
       position: relative;
       height: auto;
       padding: 0;
       font-size: 16px;
       border-bottom: solid 2px #a4adb0;
       /* margin-top:20px; */
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   
   header nav ul {
       width: 1080px;
       margin: 0 auto;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   
   header nav li {
       position: relative;
       display: inline;
       text-transform: uppercase;
   }
   
   header nav a {
       display: inline-block;
       color: #666;
       text-decoration: none;
       cursor: pointer;
       padding: 10px 1px;
       width: 200px;
       /* margin:0 5px; */
       text-align: center;
       transition: all .3s linear;
       /* Efeito de TransiÃƒÂ§ÃƒÂ£o dos itens do header nav e sub-header nav */
       font-family: 'Oswald', sans-serif;
       font-size: 18px;
   }
   
   header nav a:hover, header nav li:hover a {
       color: #FFF;
       background: #415177;
   }
   
   header nav a.active {
       background: #586688;
       color: #fff;
   }
   
   header nav table {
       border-collapse: collapse;
       position: absolute;
       left: 0;
       top: 0;
   }
   
   header nav .dropdown .sub-menu::-webkit-scrollbar { width: 12px; }
   header nav .dropdown .sub-menu::-webkit-scrollbar-track { background: #666; }
   header nav .dropdown .sub-menu::-webkit-scrollbar-thumb { background: #333; }
   header nav .dropdown .sub-menu::-webkit-scrollbar-thumb:hover { background: #226f9c; } 

   header nav .dropdown .sub-menu {
       display: none;
       border-radius: 4px;
       position: absolute;
       overflow-y: scroll;
       left: -200px;
       height: 50vh;
       width: 620px;
       z-index: 3;
       background: #415177;
       padding-top: 13px;
   }
   
   header nav .dropdown:hover .sub-menu {
       display: block;
   }
   
   
   
   header nav .dropdown:hover .sub-menu ul {
       position: relative;
       width: auto;
       display: block;
   }
   
   
   
   header nav .dropdown:hover .sub-menu ul li {
       display: block;
       float: left;
   }
   
   header nav .dropdown:hover .sub-menu ul li a span.category {
       display: block;
       font-weight: bold;
       font-size: 15px;
       color: #fff;
       padding: 3px;
       margin-bottom: 10px;
       font-family: 'Oswald', sans-serif;
   }
   
   /**/
   header nav .dropdown:hover .sub-menu ul li a {
       text-align: left;
       padding: 8px;
       font-family: sans-serif;
   }
   
   header nav .dropdown:hover .sub-menu ul li a:hover {
       display: block;
       color: #333;
       text-align: left;
       background: #ccc;
       -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       border-radius: 5px;
   }
   
   header nav .dropdown:hover .sub-menu ul li a.back-none {
       background: none;
   }
   
   header nav .dropdown:hover .sub-menu ul li ul {
       display: block;
       width: 300px;
       text-align: left;
   }
   
   header nav .dropdown:hover .sub-menu ul li ul li {}
   
   header nav .dropdown:hover .sub-menu ul li ul li a {
       font-size: 12px;
       font-weight: normal;
       color: white;
       width: 250px;
   }
   
   /*
   ==================================================
       Sidebar
   ==================================================
   */
   aside {
       float: left;
       width: 220px;
   }
   
   aside h3 {
       background: #66665e;
       background: -moz-linear-gradient(#d3d3d3 0%, #bcbcbc 100%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #bcbcbc));
       background: -webkit-linear-gradient(#d3d3d3 0%, #bcbcbc 100%);
       background: linear-gradient(#d3d3d3 0%, #bcbcbc 100%);
       border: 1px solid #bcbcbc;
       -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
       border-radius: 3px 3px 0 0;
       text-decoration: none;
       text-align: center;
       margin: 15px 0 0 0;
       line-height: 0;
   }
   
   aside h3 a {
       background: url(menu_images/pattern.png) top left repeat;
       border: none;
       font-family: 'Ubuntu', sans-serif;
       text-align: center;
       font-weight: 400;
       display: block;
       margin: 0;
       color: #454b5b;
       line-height: 36px;
       font-size: 25px;
   }
   
   aside h3 a:hover {
       background: #bcbcbc;
       background: -moz-linear-gradient(#bcbcbc 0%, #d3d3d3 100%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #d3d3d3));
       background: -webkit-linear-gradient(#bcbcbc 0%, #d3d3d3 100%);
       background: linear-gradient(#bcbcbc 0%, #d3d3d3 100%);
   }
   
   aside nav {
       list-style: none;
       list-style-type: none;
       margin: 0 0 0 0;
       padding: 0;
   }
   
   aside li {
       margin: 0 0 0 0;
   }
   
   aside li a {
       display: block;
       text-indent: 8px;
       padding: 5px 0;
       color: #333;
       text-decoration: none;
       border-bottom: 1px dotted #ccc;
   }
   
   aside nav li a:hover {
       color: #eee;
       background: #0077BB;
   }
   
   aside h4 {
       color: #1475AB;
       text-align: center;
   }
   
   aside p {
       text-align: center;
       line-height: 1.8em;
       margin: 0;
   }
   
   aside strong {
       font-size: 23px;
       color: #1475AB;
   }
    
   .banner-contato {
       width: 100%;
       margin: 0 auto;
       display: block;
   }
   
   .banner-contato a {
       width: 179px;
       height: 50px;
       margin: 12px auto 0;
       display: block;
   }
   
   #cssmenu,
   #cssmenu ul,
   #cssmenu li,
   #cssmenu a {
       margin: 0;
       padding: 0;
       border: 0;
       list-style: none;
       font-weight: normal;
       text-decoration: none;
       line-height: 1;
       font-family: 'Open Sans', sans-serif;
       font-size: 1em;
       position: relative;
   }
   
   #cssmenu {
       width: 220px;
       border-bottom: 2px solid #656659;
       -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
       border-radius: 1px;
   }
   
   #cssmenu a {
       line-height: 1.3;
   }
   
   #cssmenu>ul>li {
       background: #e94f31;
       background: -moz-linear-gradient(#586688 0%, #697aa1 100%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #586688), color-stop(100%, #697aa1));
       background: -webkit-linear-gradient(#586688 0%, #697aa1 100%);
       background: linear-gradient(#586688 0%, #697aa1 100%);
   }
   
   #cssmenu>ul>li:hover {
       background: #586688;
   }
   
   #cssmenu>ul>li>a {
       font-size: .9em;
       display: block;
       background: url(menu_images/pattern.png) top left repeat;
       color: #ffffff;
       border: 1px solid #545c70;
       border-top: none;
   }
   
   #cssmenu>ul>li>a>span {
       display: block;
       padding: 12px 10px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
   }
   
   #cssmenu>ul>li.active {
       border-bottom: none;
   }
   
   #cssmenu>ul>li.has-sub>a span {
       background: url(menu_images/icon_plus.png) 96% center no-repeat;
   }
   
   #cssmenu>ul>li.has-sub.active>a span {
       background: url(menu_images/icon_minus.png) 96% center no-repeat;
   }
   
   #cssmenu ul ul {
       display: none;
       background: #fff;
       border-right: 1px solid #a2a194;
       border-left: 1px solid #a2a194;
   }
   
   #cssmenu ul ul li {
       padding: 0;
       border-bottom: 1px solid #d4d4d4;
       border-top: none;
       background: #f7f7f7;
       background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
       background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
       background: linear-gradient(#f7f7f7 0%, #ececec 100%);
   }
   
   #cssmenu ul ul li:hover {
       padding: 0;
       border-bottom: 1px solid #d4d4d4;
       border-top: none;
       background: #f7f7f7;
       background: -moz-linear-gradient(#ececec 0%, #f7f7f7 100%);
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #f7f7f7));
       background: -webkit-linear-gradient(#ececec 0%, #f7f7f7 100%);
       background: linear-gradient(#ececec 0%, #f7f7f7 100%);
   }
   
   #cssmenu ul ul li:last-child {
       border-bottom: none;
   }
   
   #cssmenu ul ul a {
       padding: 10px 10px 10px 25px;
       display: block;
       color: #676767;
       font-size: .8em;
       font-weight: normal;
   }
   
   #cssmenu ul ul a:before {
       content: '\00BB';
       position: absolute;
       left: 10px;
       color: #e94f31;
   }
   
   #cssmenu ul ul a:hover {
       color: #000;
       background: none;
   }
   
   /* 
   ==================================================
       Content
   ==================================================
   */
   .wrapper {
       width: 1080px;
       max-width: 1080px;
       margin: 0 auto;
       text-align: left;
       background: #fff;
   }
   
   section {
       float: left;
       padding: 0;
       width: 100%;
   }
   
   article {
       float: right;
       width: 840px;
   }
   
   article p {
       margin: 1.5em 0;
   }
   
   article strong {
       font-weight: normal;
   }
   
   article ul.box {
       display: block;
       padding: 15px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
       -webkit-box-shadow: 1px 3px 10px #000;
       box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
       background: #E4E4E4;
   }
   
   article ul.box li {
       margin: 10px;
       padding: 5px;
   }
   
   article ul.box h2 {
       margin: 0;
   }
   
   article ul.box h2 a {
       text-align: left;
       background: #586688;
       margin: 0;
       color: #fff;
       padding: 5px;
       -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       border-radius: 2px;
       display: block;
   }
   
   article ul.box .button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #3051a0;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 18px;
   }
   
   article ul.box .button:hover {
       background: #183884;
   }
   
   article ul.list {
       list-style: disc;
       margin: 0 0 0 40px;
   }
   
   .services {
       width: 960px;
   }
   
   #breadcrumb {
       display: inline-block;
       clear: both;
       width: 100%;
       color: #333;
       font-size: 14px;
   }
   
   #breadcrumb div {
       display: inline;
   }
   
   #breadcrumb a {
       color: #777;
       text-decoration: underline;
   }
   
   #breadcrumb a:hover {
       color: #444;
       text-decoration: none;
   }
   
   .img-left {
       float: left;
       margin-right: 10px;
   }
   
   .img-right {
       float: right;
       margin-left: 10px;
   }
   
   .list {
       margin: 0 0 20px 40px;
   }
   
   .list li {
       list-style: disc;
       margin: 6px 0;
       line-height: 1.5em;
   }
   
   /* 
   ==================================================
       Includes
   ==================================================
   */
   .more {
       margin-bottom: 20px;
   }
   
   .more h3 strong {
       font-size: 16px;
   }
   
   .see-more {
       clear: both;
       background: #E8E8E8;
       padding: 10px;
       margin: 15px 0;
   }
   
   .see-more h4 {
       color: #6d6e70;
       font-size: 14px;
       margin: 0 0 5px 0;
   }
   
   .see-more ul {
       list-style: none;
       list-style-type: none;
   }
   
   .see-more li {
       display: inline;
       margin: 0 7px;
       font-size: 11px;
       color: #999;
   }
   
   .see-more li a {
       color: #666;
       text-decoration: none;
   }
   
   .see-more li a:hover {
       color: #333;
   }
   
   .tags {
       font-size: 9px;
       color: #666;
       padding: 5px;
       margin-bottom: 15px;
   }
   
   .tags em {
       text-transform: lowercase;
   }
   
   .copyright {
       font-size: 10px;
       color: #666;
   }
   
   .copyright a {
       font-size: 10px;
       color: #666;
   }
   
   .thumbnails {
       display: inline-block;
       list-style: none;
       list-style-type: none;
   }
   
   .thumbnails li {
       float: left;
       width: 160px;
       height: 280px;
       margin: 5px 20px;
       text-align: center;
   
   }
   
   .thumbnails h4 {
       font-size: 16px;
       margin: 5px 0;
   }
   
   .thumbnails a {
       text-decoration: none;
       color: #1475ab;
   }
   
   article ul.style {
       margin-bottom: 10px;
   }
   
   article ul.style li {
       width: 300px;
       height: 240px;
       padding: 10px;
       background: #eee;
       margin: 5px 30px;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
       -webkit-box-shadow: 1px 3px 10px #000;
       box-shadow: 1px 3px 10px #000;
   }
   
   .thumbnails a:hover {
       text-decoration: underline;
   }
   
   .gallery {
       display: inline-block;
       list-style-type: none;
       list-style: none;
   }
   
   .gallery li {
       float: left;
       margin: 5px 30px;
       text-align: center;
   }
   
   .compartilhe {
       font-size: 0.75em;
       margin: 0.5em 0;
       display: block;
       font-weight: bold;
   }
   
   .social-media {
       display: inline-block;
       padding: 0;
       margin: 5px 0;
   }
   
   .social-media li {
       float: left;
       margin-right: 10px;
   }
   
   .bt-twitter {
       text-indent: -5000px;
       overflow: hidden;
       display: block;
       width: 55px;
       height: 20px;
       background: url(../imagens/icones/tweet.png) no-repeat 0 0;
   }
   
   .bt-twitter:hover {
       background-position: 0px -20px;
   }
   
   .bt-facebook {
       text-indent: -5000px;
       overflow: hidden;
       display: block;
       width: 87px;
       height: 20px;
       background: url(../imagens/icones/compartilhar.png) no-repeat 0 0;
   }
   
   .bt-facebook:hover {
       background-position: 0px -20px;
   }
   
   .picture-legend {
       background: #eee;
       display: inline-block;
       padding: 3px;
   }
   
   .picture-legend strong {
       clear: both;
       display: block;
       text-align: right;
       font-weight: normal;
       padding: 4px;
       font-size: 9px;
   }
   
   .picture-legend img {
       margin: 0 auto;
   }
   
   .picture-left {
       float: left;
       margin: 0 10px 0 0;
   }
   
   .picture-right {
       float: right;
       margin: 0 0 0 10px;
   }
   
   /*
   ==================================================
       PÃƒÂ¡ginas Relacionadas
   ==================================================
   */
   .related-posting-title {
       font-size: 26px;
   }
   
   .related-posting {
       list-style: none;
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   
   .row {
       clear: both;
       display: block;
       background: #E8E8E8;
       border-left: 3px solid #E8E8E8;
       padding: 10px 20px;
       min-height: 85px;
       margin: 0 0 2px 0;
       overflow: hidden;
   }
   
   .row:hover {
       border-left: 3px solid #F00;
   }
   
   .row img {
       display: block;
       float: left;
       width: 80px;
       height: 80px;
       border: 1px solid #CCC;
       margin: 0 10px 0 0;
   }
   
   .row p {
       font-size: 12px;
       line-height: 15px;
       margin-bottom: 0;
   }
   
   .row a {
       color: #333;
       text-decoration: none;
   }
   
   .row p a {
       color: #69747b;
   }
   
   .row strong {
       font-family: 'MyriadProRegular', "Trebuchet MS", Arial, Helvetica, sans-serif;
       font-size: 12px;
   }
   
   /*
   ==================================================
       Footer
   ==================================================
   */
   footer {
       clear: both;
       margin-top: 15px;
       padding: 15px;
       background: #226f9c;
   }
   
   footer .wrapper-footer {
       width: 960px;
       margin: 0 auto;
   }
   
   .contact-footer {
       float: left;
       color: #fff;
       margin-right: 30px;
   }
   
   .contact-footer strong {
       font-size: 22px;
       letter-spacing: -1px;
   }
   
   footer address {
       margin: 0 0 10px 0;
       font-size: 12px;
       font-style: normal;
       line-height: 15px;
   }
   
   footer address span {
       margin: 0 0 5px 0;
       font-size: 14px;
       font-weight: bold;
       display: block;
   }
   
   footer .menu-footer {
       text-align: right;
   }
   
   footer .menu-footer nav {
       margin: 3px 0;
   }
   
   footer .menu-footer nav li {
       display: inline;
       padding: 0 10px 0 0;
   }
   
   footer .menu-footer nav li a {
       color: #fff;
       font-size: 13px;
       text-decoration: none;
   }
   
   footer .menu-footer nav li a:hover {
       color: #fff;
   }
   
   footer .social {
       margin: 20px 0 0 0;
       float: right;
   }
   
   footer .social .social-icons {
       width: 32px;
       height: 32px;
       display: block;
       margin: 0 0 0 5px;
       float: right;
       background: url(../imagens/icones/icons-social-midia.png);
   }
   
   footer .social .google {
       background-position: 131px 0;
   }
   
   footer .social .google:hover {
       background-position: 131px 32px;
   }
   
   footer .social .facebook {
       background-position: 164px 0;
   }
   
   footer .social .facebook:hover {
       background-position: 164px 32px;
   }
   
   footer .social .twitter {
       background-position: 197px 0;
   }
   
   footer .social .twitter:hover {
       background-position: 197px 32px;
   }
   
   footer .social .linkedin {
       background-position: 98px 0;
   }
   
   footer .social .linkedin:hover {
       background-position: 98px 32px;
   }
   
   footer .social .youtube {
       background-position: 32px 0;
   }
   
   footer .social .youtube:hover {
       background-position: 32px 32px;
   }
   
   footer .social .email {
       background-position: 65px 0;
   }
   
   footer .social .email:hover {
       background-position: 65px 32px;
   }
   
   .copyright-footer {
       text-align: left;
       font-size: 10px;
       line-height: 17px;
       color: #fff;
       padding: 10px;
       background: #226f9c;
   }
   
   .copyright-footer .selos {
       float: right;
   }

   .copyright-footer .selos img{
    background-color: #fff;
    padding: 5px;
    margin: 0 5px;
}
   
   .copyright-footer .selos a {
       margin: 0 0 0 5px;
   }
   
   .modal {
       height: 1813px;
       width: 1349px;
       position: fixed;
       left: 0px;
       background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.68);
       top: 0px;
       z-index: 1001;
       width: 100% !important;
   }
   
   .modal .centro {
       position: fixed;
       z-index: 1002;
       float: left;
       left: 449.5px;
       top: 15%;
       width: 401px;
       height: 363px;
   }
   
   /*
   ==================================================
                   Sitemap
   ==================================================
   */
   .sitemap {
       margin-left: 30px;
       list-style: none;
       list-style-type: none;
   }
   
   .sitemap li {
       font-size: 15px;
       margin: 10px 0;
   }
   
   .sitemap li a {
       color: #777;
       font-size: 20px;
       line-height: 25px;
       text-decoration: none;
   }
   
   .sitemap li a:hover {
       color: #222 !important;
   }
   
   .sitemap li ul {
       margin-left: 35px;
       list-style: none;
       list-style-type: none;
   }
   
   .sitemap li ul li {
       margin: 5px 0;
       padding: 0;
   }
   
   .sitemap li ul li a {
       font-size: 12px;
       color: #777;
   }
   
   .sitemap li ul li ul li {
       margin: 5px 0;
   }
   
   .sitemap li ul li ul li a {
       font-size: 13px;
       color: #777;
   }
   
   .sitemap li a:hover {
       color: #999;
   }
   
   /*
   ========================================
                   Page not found
   ========================================
   */
   .msg-404 {
       position: relative;
       font-size: 30px;
       line-height: 34px;
       color: #A7A9AC;
       margin-bottom: 30px;
   }
   
   /*
   ==================================================
     PÃƒÂ¡gina Contato (Formulario)
   ==================================================
   */
   .contact {
       display: block;
       padding: 0 20px;
   }
   
   .form {
       float: left;
   }
   
   .form label {
       width: 185px;
       font-weight: bold;
       padding-right: 5px;
       font-size: 13px;
       display: table-cell;
       vertical-align: middle;
   }
   
   .form label span {
       font-size: 9px;
       color: #C00;
   }
   
   .form input,
   .form textarea,
   .form select {
       margin: 0 0 4px 0;
       padding: 5px;
       border: solid 1px #333;
       border-radius: 3px;
       font-size: 16px;
   }
   
   .form textarea {
       width: 340px;
   }
   
   .form input:focus,
   .form textarea:focus,
   .form select:focus {
       background: #eee;
   }
   
   .form .ir {
       border: solid 1px #000;
       background: #fff;
       padding: 3px 8px;
       cursor: pointer;
   }
   
   .form .ir:hover {
       background: #0077bb;
   }
   
   .bt-submit {
       display: block;
       margin: 5px 0 0 0;
   }
   
   .form span.obrigatorio {
       font-size: 9px;
       color: #C00;
   }
   
   .form label.error {
       display: block;
       color: red;
       margin: 0 .5em 0 0;
       vertical-align: top;
       font-size: 10px
   }
   
   .help {
       font-size: 11px;
       color: #666;
   }
   
   .alert {
       color: #FF0000;
   }
   
   .contact-form {
       float: right;
       width: 470px;
       color: #989898;
       font-size: 11px;
   }
   
   .contact-form strong {
       color: #6d6e71;
   }
   
   
   
   /* ==========================================================================
      Helper classes
      ========================================================================== */
   
   /*
    * Image replacement
    */
   
   .ir {
       background-color: transparent;
       border: 0;
       overflow: hidden;
       /* IE 6/7 fallback */
       /**text-indent: -9999px;*/
   }
   
   .ir:before {
       content: "";
       display: block;
       width: 0;
       height: 150%;
   }
   
   /*
    * Hide from both screenreaders and browsers: h5bp.com/u
    */
   
   .hidden {
       display: none !important;
       visibility: hidden;
   }
   
   /*
    * Hide only visually, but have it available for screenreaders: h5bp.com/v
    */
   
   .visuallyhidden {
       border: 0;
       clip: rect(0 0 0 0);
       height: 1px;
       margin: -1px;
       overflow: hidden;
       padding: 0;
       position: absolute;
       width: 1px;
   }
   
   /*
    * Extends the .visuallyhidden class to allow the element to be focusable
    * when navigated to via the keyboard: h5bp.com/p
    */
   
   .visuallyhidden.focusable:active,
   .visuallyhidden.focusable:focus {
       clip: auto;
       height: auto;
       margin: 0;
       overflow: visible;
       position: static;
       width: auto;
   }
   
   /*
    * Hide visually and from screenreaders, but maintain layout
    */
   
   .invisible {
       visibility: hidden;
   }
   
   /*
    * Clearfix: contain floats
    *
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    `contenteditable` attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that receive the `clearfix` class.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */
   
   .clearfix:before,
   .clearfix:after {
       content: " ";
       /* 1 */
       display: table;
       /* 2 */
   }
   
   .clearfix:after {
       clear: both;
   }
   
   /*
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
   
   .clearfix {
       /**zoom: 1;*/
   }
   
   .btn-tel {
    padding: 10px;
    background: #283658;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    width: 100%;
    text-transform: uppercase;
}
   
   .btn-orcar {
       padding: 10px 0;
       background: #006d1c;
       color: #fff; 
       margin: 2px 0;
       border-radius: 5px;
       font-size: 18px;
       border: none;
       width: 100%;
       margin-right: 0;
       text-transform: uppercase;
   }
   
   .btn-tel-menu {
       padding: 13px;
       background: #425070;
       color: #fff;
       font-size: 17px;
       border: none;
       width: 100%;
       margin-top: 10px;
       text-transform: uppercase;
   }
   
   .btn-orcar-menu {
       padding: 20px;
       background: #f96900;
       color: #fff;
       font-size: 17px;
       border: none;
       width: 100%;
       text-transform: uppercase;
   }
   
   #modal.orcamento .modal-footer .btn-proximo {
       padding: 9px 90px;
       width: 100%;
       font-size: 14px;
       color: #fff !important;
   }
   
   #modal.orcamento .modal-footer {
       text-align: center;
       height: auto !important;
       position: sticky;
       bottom: 0;
       z-index: 2;
   }
   
   
   .modal-form-contato {
       min-width: 94%;
   }
   
   .modal-form-contato .btn_salvar {
   
       margin: auto !important;
   }
   
   .modal-contato-itens>div {
       width: 100%;
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   
   .modal-contato-itens div.descricao {
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
       flex-direction: column;
   }