/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{
	position:relative;
	width: 714px;
	height: 206px;;
	/* float:right; */
	margin-top: 12px;
	padding-bottom: 10px;
	float: right;
	padding-left: 29px;
}


.nivoSlider {
	position:relative;
	height: 204px;;
	overflow: hidden;
	top: 21px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: 684px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	/* background:#000; */
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-indent: -9999px;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position:absolute;
	bottom: 3px;
	z-index:9 !important;
	width: 15%;
	margin-left: 84%;
	top: 172px;
}
.nivo-controlNav a {
	cursor:pointer;
	background:url(../imagens/slider/nav-button.png) no-repeat bottom left;
	width:13px;
	height:13px;
	display: block;
	text-indent:-9999px;
	float: left;
	padding-right: 4px;
}
.nivo-controlNav a.active {
	background-position:top left;
}